@charset "utf-8";
body{
	margin:0;
	font-family: "微软雅黑";
}

.overflowOmit{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

ul{
	margin:0;
}

input,textarea{
	-webkit-appearance:none;
}
a{
	text-decoration: none;
	color:#000;
}

.mask{position: fixed; top: 0px; left: 0px; right: 0px;	bottom: 0px; opacity: 0.5; background: #10090d;z-index:99;}

.hotcity{
	float:left; 
	width: 28%; 
	height: 36px; 
	line-height: 36px; 
	text-align: center; 
	background: #fff; 
	color: #979797; 
	margin-left: 4%; 
	font-size: 12px;
	margin-top: 10px;
}