<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hz21city.xiangqu.dao.IActivityInfoDao" >
  <resultMap id="BaseResultMap" type="com.hz21city.xiangqu.pojo.ActivityInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="acitvity_time" property="acitvityTime" jdbcType="TIMESTAMP" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="next_intro" property="nextIntro" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.hz21city.xiangqu.pojo.ActivityInfo" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, acitvity_time, add_time, next_intro
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_activity_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_activity_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hz21city.xiangqu.pojo.ActivityInfo" >
    insert into t_activity_info (id, title, acitvity_time, 
      add_time, next_intro, content
      )
    values (#{id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{acitvityTime,jdbcType=TIMESTAMP}, 
      #{addTime,jdbcType=TIMESTAMP}, #{nextIntro,jdbcType=VARCHAR}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hz21city.xiangqu.pojo.ActivityInfo" >
    insert into t_activity_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="acitvityTime != null" >
        acitvity_time,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="nextIntro != null" >
        next_intro,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="acitvityTime != null" >
        #{acitvityTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="nextIntro != null" >
        #{nextIntro,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hz21city.xiangqu.pojo.ActivityInfo" >
    update t_activity_info
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="acitvityTime != null" >
        acitvity_time = #{acitvityTime,jdbcType=TIMESTAMP},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="nextIntro != null" >
        next_intro = #{nextIntro,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hz21city.xiangqu.pojo.ActivityInfo" >
    update t_activity_info
    set title = #{title,jdbcType=VARCHAR},
      acitvity_time = #{acitvityTime,jdbcType=TIMESTAMP},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      next_intro = #{nextIntro,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hz21city.xiangqu.pojo.ActivityInfo" >
    update t_activity_info
    set title = #{title,jdbcType=VARCHAR},
      acitvity_time = #{acitvityTime,jdbcType=TIMESTAMP},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      next_intro = #{nextIntro,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="getActivityListByPage" resultMap="BaseResultMap" parameterType="map">
		select * from t_activity_info
		<where>
			<if test="keywords != null and keywords != ''">
				and title like #{keywords}
			</if>
		</where>
		order by id desc limit 15
		<if test="page != null">
			offset #{page}
		</if>
	</select>
	
	<select id="getActivityListSize" resultType="java.lang.Integer" parameterType="java.lang.String">
		select count(*) from t_activity_info
		<where>
			<if test="keywords != null and keywords != ''">
				and title like #{keywords}
			</if>
		</where>
	</select>
</mapper>