<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hz21city.xiangqu.dao.IHomeActivityDao" >
  <resultMap id="BaseResultMap" type="com.hz21city.xiangqu.pojo.HomeActivity" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="relatived_id" property="relatived_id" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="pic" property="pic" jdbcType="VARCHAR" />
    <result column="valuekey" property="valuekey" jdbcType="VARCHAR" />
    <result column="detail_url" property="detailUrl" jdbcType="VARCHAR" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, relatived_id, type, pic, valuekey, detail_url, add_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_home_activity
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_home_activity
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hz21city.xiangqu.pojo.SubjectInfo" >
    insert into t_home_activity (id, relatived_id, type, 
    	pic, valuekey, detail_url, add_time
      )
    values (#{id,jdbcType=BIGINT}, #{relatived_id,jdbcType=BIGINT},#{type,jdbcType=INTEGER},  #{pic,jdbcType=VARCHAR}, 
      #{valuekey,jdbcType=VARCHAR}, #{detailUrl,jdbcType=VARCHAR}, #{addTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hz21city.xiangqu.pojo.SubjectInfo" >
    insert into t_home_activity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="relatived_id != null" >
        relatived_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="pic != null" >
        pic,
      </if>
      <if test="valuekey != null" >
        valuekey,
      </if>
      <if test="detailUrl != null" >
        detail_url,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="relatived_id != null" >
        #{relatived_id,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="pic != null" >
        #{pic,jdbcType=VARCHAR},
      </if>
      <if test="valuekey != null" >
        #{valuekey,jdbcType=VARCHAR},
      </if>
      <if test="detailUrl != null" >
        #{detailUrl,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hz21city.xiangqu.pojo.SubjectInfo" >
    update t_home_activity
    <set >
      <if test="relatived_id != null" >
        relatived_id = #{relatived_id,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="pic != null" >
        pic = #{pic,jdbcType=VARCHAR},
      </if>
      <if test="valuekey != null" >
        valuekey = #{valuekey,jdbcType=VARCHAR},
      </if>
      <if test="detailUrl != null" >
        detail_url = #{detailUrl,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hz21city.xiangqu.pojo.SubjectInfo" >
    update t_home_activity
    set relatived_id = #{relatived_id,jdbcType=BIGINT},
      type = #{type,jdbcType=INTEGER},
      pic = #{pic,jdbcType=VARCHAR},
      valuekey = #{valuekey,jdbcType=VARCHAR},
      detail_url = #{detailUrl,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
   <select id="getAllList" resultMap="BaseResultMap">
  	select
		<include refid="Base_Column_List" />
		from t_home_activity
		order by add_time desc
  </select>
    
    
   <select id="getActivityByValueKey" resultMap="BaseResultMap" parameterType="java.lang.String">
   	select
   		<include refid="Base_Column_List" />
   		from t_home_activity
   		 where valuekey = #{valuekey,jdbcType=VARCHAR}
   </select>
</mapper>