<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hz21city.xiangqu.dao.IIncomeStatsDao">
	<select id="getAllIncome" resultType="java.lang.Float" parameterType="map">
		select ifnull(sum(ifnull(income,0.0)),0.0) from t_income_record
		<where>
			<![CDATA[  income > 0 ]]>
			<if test="start!=null and start!='' ">
				and  <![CDATA[ time >= #{start}  ]]>
			</if>
			<if test="end!=null and end!=''">
				and  <![CDATA[ time <= #{end} ]]>
			</if>
		</where>
	</select>

	<select id="getAllOutcome" resultType="java.lang.Float" parameterType="map">
		select ifnull(sum(ifnull(income,0.0)),0.0) from t_income_record
		<where>
			<![CDATA[ income < 0 ]]>
			<if test="start!=null and start!='' ">
				and  <![CDATA[ time >= #{start}  ]]>
			</if>
			<if test="end!=null and end!=''">
				and  <![CDATA[ time <= #{end} ]]>
			</if>
		</where>
	</select>

	<select id="getAllLotteryIncome" resultType="java.lang.Float" parameterType="map">
		select ifnull(sum(ifnull(income,0.0)),0.0) from t_income_record
		<where>
			type = 7
			<if test="start!=null and start!='' ">
				and  <![CDATA[ time >= #{start}  ]]>
			</if>
			<if test="end!=null and end!=''">
				and  <![CDATA[ time <= #{end} ]]>
			</if>
		</where>
	</select>

	<select id="getAllLotteryOutcome" resultType="java.lang.Float" parameterType="map">
		select ifnull(sum(ifnull(income,0.0)),0.0) from t_income_record
		<where>
			type = 9
			<if test="start!=null and start!='' ">
				and  <![CDATA[ time >= #{start}  ]]>
			</if>
			<if test="end!=null and end!=''">
				and  <![CDATA[ time <= #{end} ]]>
			</if>
		</where>
	</select>

	<select id="getBrushedIncome" resultType="java.lang.Float" parameterType="map">
		select ifnull(sum(ifnull(income,0.0)),0.0) from t_income_record
		<where>
			<![CDATA[ income > 0 ]]>
			and user_id in ( select id from t_user_info where type = -1 )
			<if test="start!=null and start!='' ">
				and  <![CDATA[ time >= #{start}  ]]>
			</if>
			<if test="end!=null and end!=''">
				and  <![CDATA[ time <= #{end} ]]>
			</if>
		</where>
	</select>

	<select id="getNewUserCount" resultType="java.lang.Integer" parameterType="map">
		select count(*) from t_user_info
		<!-- <where> <![CDATA[ income > 0 ]]> <if test="start!=null and start!='' "> and <![CDATA[ time >= #{start} ]]> </if> <if test="end!=null and end!=''"> and <![CDATA[ time <= #{end} ]]> </if> </where> -->
	</select>

	<select id="getNewRegisterUserCount" resultType="java.lang.Integer" parameterType="map">
		select count(*) from t_user_info
		<where>
			moblie is not null
			<!-- <if test="start!=null and start!='' "> and <![CDATA[ time >= #{start} ]]> </if> <if test="end!=null and end!=''"> and <![CDATA[ time <= #{end} ]]> </if> -->
		</where>
	</select>

</mapper>