<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hz21city.xiangqu.dao.INewYearDinnerDao" >
  <resultMap id="BaseResultMap" type="com.hz21city.xiangqu.pojo.NewYearDinner" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="arrive_time" property="arriveTime" jdbcType="TIMESTAMP" />
    <result column="is_arrive" property="isArrive" jdbcType="INTEGER" />
    <result column="pic" property="pic" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, company_name, arrive_time, is_arrive, pic
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_newyear_dinner
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_newyear_dinner
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hz21city.xiangqu.pojo.NewYearDinner" >
    insert into t_newyear_dinner (id, company_name, arrive_time, 
      is_arrive, pic)
    values (#{id,jdbcType=BIGINT}, #{companyName,jdbcType=VARCHAR}, #{arriveTime,jdbcType=TIMESTAMP}, 
      #{isArrive,jdbcType=INTEGER}, #{pic,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hz21city.xiangqu.pojo.NewYearDinner" >
    insert into t_newyear_dinner
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="companyName != null" >
        company_name,
      </if>
      <if test="arriveTime != null" >
        arrive_time,
      </if>
      <if test="isArrive != null" >
        is_arrive,
      </if>
      <if test="pic != null" >
        pic,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="arriveTime != null" >
        #{arriveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isArrive != null" >
        #{isArrive,jdbcType=INTEGER},
      </if>
      <if test="pic != null" >
        #{pic,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hz21city.xiangqu.pojo.NewYearDinner" >
    update t_newyear_dinner
    <set >
      <if test="companyName != null" >
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="arriveTime != null" >
        arrive_time = #{arriveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isArrive != null" >
        is_arrive = #{isArrive,jdbcType=INTEGER},
      </if>
      <if test="pic != null" >
        pic = #{pic,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hz21city.xiangqu.pojo.NewYearDinner" >
    update t_newyear_dinner
    set company_name = #{companyName,jdbcType=VARCHAR},
      arrive_time = #{arriveTime,jdbcType=TIMESTAMP},
      is_arrive = #{isArrive,jdbcType=INTEGER},
      pic = #{pic,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <select id="selectNewest" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_newyear_dinner
    order by arrive_time desc limit 1
  </select>

  <select id="selectAll" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from t_newyear_dinner
  </select>
  
</mapper>